@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 3.2vh;
    color: #f6e58d;


    background-color: #2d3436;

    overflow-x: hidden;
}

#fullscreen {
    position: relative;
    height:100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    clear: both;
    content: "";
}

#whoami {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  font-size: 5vh;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #f6e58d; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

}

#contactme {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #f6e58d; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    blink-caret .75s step-end infinite;

}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f6e58d; }
}

#box1 {
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    clear: both;
    content: "";
}

#test {
    height: 1px;

}

#tags {
    font-weight: 400;
    font-size: 2vh;

    color: #FFF;

}

x-sign {
    --interval: 1s;
    display: block;
    text-shadow: 
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;

    font-family: 'Montez', sans-serif;
    font-weight: 800;
    font-size: 50vh;


    color: rgb(246, 229, 141);
    --color1: rgb(246, 229, 141);
    --color2: rgb(246, 229, 141);
    --color3: rgb(246, 229, 141);
    --color4: rgb(246, 229, 141);
}
  
@keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%);
    }
}

#geshi {
    margin: 0;

    font-family: 'Montez', sans-serif;
    font-weight: 800;
    font-size: 8vh;
    color: #f6e58d;

    background-color: #2d3436;

    overflow-x: hidden;
}


h2 {
    font-weight: 500;
}

@keyframes animated-cursor {
    from{border-right-color: #2d3436;}
    to{border-right-color: transparent;}
}

.arrow {
  text-align: center;
  margin: 8% 0;
  height: 3vh;
  top: 95vh;
  transform: rotate(90deg);
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #f6e58d;
  
  border: solid 1px #f6e58d;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #f6e58d;
  color: #f6e58d;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #f6e58d;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #f6e58d;
  color: #f6e58d;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #f6e58d;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #f6e58d;
  border-top: none;
}

#submit:hover {
  color: #f6e58d;
}